# ==============================
# Android Studio / IntelliJ
# ==============================
*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml

# ==============================
# Build Files
# ==============================
/build
/app/build
/captures
.externalNativeBuild
.cxx

# ==============================
# Mac / Windows
# ==============================
.DS_Store
Thumbs.db

# ==============================
# Logs
# ==============================
*.log

# ==============================
# Firebase (IMPORTANT)
# ==============================
google-services.json

# ==============================
# Keystore (VERY IMPORTANT)
# ==============================
*.jks
*.keystore

# ==============================
# Kotlin / Misc
# ==============================
out/